
.profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#profile-name {
	margin: 20px 50px;

	font-size: 25px;
	color: rgb(255, 255, 255, 1);
}

.profile-picture-wrap {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 150px;
	height: 150px;

	border-radius: 100%;
	overflow: hidden;
}

.profile-picture {
	width: 100%;
	height: 100%;
	
	object-fit: cover;
}

.profile-contacts {
	display: grid;
	align-items: center;

	margin: 20px 50px;
}

.profile-contacts-label {
	font-size: 20px;
	color: rgb(100, 0, 0, 1);
}

.profile-contacts-description {
	font-size: 15px;
	color: rgb(0, 100, 0, 1);
}

.profile-contacts-link {
    font-size: 15px;
	color: blue;

	text-decoration: underline;
}
