
.project-section {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 50px;

	column-gap: 50px;
	//justify-content: center;
	margin: 5em 5em 20em 15em;
	max-width: 10000px;
	//margin: 10px 10px 20px 20px;
}

.project-box-1 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

.project-box-2 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

.project-box-3 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 5;
}

.project-box-4 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 5;
}

.project-name {
    display: flex;
	justify-content: center;

	font-size: 20px;
	font-weight: 500;
	//align-items: center;
	//margin: auto 50%;
}

.project-date {
	display: flex;
	justify-content: start;
}

.project-description {
	font-size: 18px;
}
