.project-section-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1rem 0rem 1rem 0rem;
    /*border: solid red; */
}

.project-section-left {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
    width: 50rem;
    //border: solid green;
}

.project-section-right {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
    //border: solid purple;
}

/*
.project-section {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 50px;

	column-gap: 50px;
	justify-content: center;
	margin: 5em 5em 20em 15em;
	max-width: 10000px;
	margin: 10px 10px 20px 20px;
}

.project-box-1 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

.project-box-2 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

.project-box-3 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 5;
}

.project-box-4 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 5;
}
*/

.project-name {
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
    margin: 0rem 0rem 1rem 0rem;

	font-size: 20px;
	font-weight: 500;
}

.project-date {
	display: flex;
	justify-content: center;
    margin: 0rem 0rem 1rem 0rem;
}

.project-text {
    display: inline;
    color: #ffffff;
}

.project-description {
    flex-wrap: wrap;
	font-size: 18px;
}

.project-link {
    display: inline;
    color: "#90d6ff"; 
    text-decoration: underline;
}

.project-video {
    width: 30rem;
    height: 16rem;
    border: solid white;
}
