.default-section-box:hover {
    border: solid orange;
	cursor: pointer;
}

.default-section-box {
	border: 0.2em dashed white;
    padding: 1rem;
}

.default-section-box-active {
	border: solid purple;
    padding: 1rem;
}


.default-section-box-active:hover {
	border: solid violet;
	cursor: pointer;
}




