
.profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    width: 50rem;
}

#profile-name {
	margin: 20px 50px;

	font-size: 2rem;
	color: rgb(255, 255, 255, 1);
}

.profile-picture-wrap {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 10rem;
	height: 10rem;

	border-radius: 100%;
	overflow: hidden;
}

.profile-picture {
	
    transform: scale(2);
}

.profile-contacts {
	display: flex;
	align-items: center;
    
	margin: 2rem 5rem;
    gap: 0.5rem 1.5rem;
}

.profile-contacts-label {
	font-size: 20px;
	color: rgb(100, 0, 0, 1);
}

.profile-contacts-description {
	font-size: 15px;
	color: rgb(0, 100, 0, 1);
}

.profile-contacts-link {
    font-size: 15px;
	color: blue;

	text-decoration: underline;
}

.profile-favicon {
	width: 2rem;
}
